<nav>
    <ul>
        <li><a href="/index"> Inicio </a></li>
        <li><a href="/perfil_usuario"> Perfil de cuenta </a></li>
        <li><a href="/articulos"> Artículos </a></li>
        <li><a href="/altas_articulo"> Agregar Artículos </a></li>
        <li> Cerrar Sesión </li>
    </ul>
</nav>